@model FlyITA.Web.Components.CustomFieldViewModel

@if (Model.IsVisible)
{
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="form-group @(Model.IsRequired ? "required" : "")">
                <label for="@Model.FieldId" class="control-label">
                    @Model.Label@Model.LabelTerminator
                </label>
                @if (Model.WriteOnce)
                {
                    <span id="@Model.FieldId">@Model.DisplayValue</span>
                }
                else if (Model.IsDropDown)
                {
                    <select id="@Model.FieldId" name="@Model.FieldName"
                            class="form-select"
                            @(Model.IsRequired ? "required" : "")
                            @(Model.IsRequired ? "aria-required=true" : "")
                            @(Model.OnChange != null ? $"onchange={Model.OnChange}" : "")>
                        @foreach (var item in Model.Items)
                        {
                            <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                        }
                    </select>
                }
                else
                {
                    <input type="text" id="@Model.FieldId" name="@Model.FieldName"
                           class="form-control" value="@Model.Value"
                           @(Model.IsRequired ? "required" : "")
                           @(Model.IsRequired ? "aria-required=true" : "")
                           @(Model.MaxLength.HasValue ? $"maxlength={Model.MaxLength}" : "")
                           @(Model.OnChange != null ? $"onchange={Model.OnChange}" : "") />
                }
            </div>
        </div>
    </div>
}
